@model IEnumerable<Model.About>

@{
    ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="box">
<h2 style="text-align:center">Quản lý giới thiệu</h2>
<p>
	<a class="btn btn-primary" href="@Url.Action("Create")">Tạo mới</a>
</p>
<div class="box-body">
	<table id="example1" class="table table-bordered table-hover">
		<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Slug)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Detail)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreatedDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ModifileDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Image)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Slug)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Detail)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CreatedDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ModifileDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Image)
					</td>
                    <td>
                        @if (item.Status)
                        {
                            <span class="label label-success">Hiện</span>
                        }
                        else
                        {
                            <span class="label label-danger">Ẩn</span>
                        }
                    </td>
					<td>
						<a class="btn btn-primary" style="font-size: 10px;" href="@Url.Action("Edit", new {id = item.ID})"><i class="fa fa-fw  fa-pencil"></i></a>
						<a class="btn btn-danger" style="margin-left: 10px; font-size: 10px;" href="@Url.Action("Delete", new {id = item.ID})"><i class="fa fa-fw fa-trash"></i></a>

					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
</div>
