@model PagedList.IPagedList<Model.User>
@using PagedList.Mvc

@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="box">
	<div class="box-header">
		<h2 style="text-align:center" >Quản Lý thành viên</h2>
		<p>
			<a class="btn btn-primary" href="@Url.Action("Create")">Tạo mới</a>
		</p>
		@using (Html.BeginForm("Index", "User", FormMethod.Get))
		{
			<div class="row">
				<div class="col-md-2">
					<input type="text" placeholder="Search for full name" name="searchString" value="@ViewBag.searchString" />
				</div>
				<div class="col-md-2">
					<button class="btn btn-primary" type="submit">Tìm kiếm</button>
				</div>
				<div class="col-md-6">

				</div>
			</div>
		}
	</div>
	<!-- /.box-header -->
	<div class="box-body">
		<table id="example1" class="table table-bordered table-hover">
			<thead>
				<tr role="row">
					<th>
						Tên Role
					</th>
					<th>
						Tên tài khoản
					</th>

					<th>
						Ngày tạo
					</th>
					<th>
						Ngày sửa
					</th>
					<th>
						Tên người dùng
					</th>
					<th>
						Số điện thoại
					</th>
					<th>
						Email
					</th>
					<th>
						Địa chỉ
					</th>
					<th>
						Trạng thái
					</th>
					<th></th>
				</tr>
			</thead>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Role.RoleName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UserName)
					</td>

					<td>
						@Html.DisplayFor(modelItem => item.CreatedDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.EditedDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.FullName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Phone)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Email)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Address)
					</td>
                    <td>
                        @if (item.Status)
                        {
                            <span class="label label-success">Hoạt Động</span>
                        }
                        else
                        {
                            <span class="label label-danger">Ẩn</span>
                        }
                    </td>
					<td>
						<a class="btn btn-primary" style="margin-left:30px;font-size:10px;" href="@Url.Action("Edit", new { id=item.UserId })"><i class="fa fa-fw  fa-pencil"></i></a>
						<a class="btn btn-danger" style="margin-left:10px;font-size:10px;" href="@Url.Action("Delete", new { id=item.UserId })"><i class="fa fa-fw fa-trash"></i></a>

					</td>
				</tr>
			}

		</table>
		@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, @searchString = @ViewBag.searchString }))
	</div>
	<!-- /.box-body -->
</div>

