@model IEnumerable<Model.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

	<div class="box">
		<h2 style="text-align:center">Quản lý đơn hàng </h2>
		
		<div class="box-body">
			<table id="example1" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.Users.UserName)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Name)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Email)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Phone)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Address)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Created)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Status)
						</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Users.UserName)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Name)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Email)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Phone)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Address)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Created)
							</td>
							<td>
								@if (item.Status == 0)
								{
										 <label class="btn btn-primary">Đang chờ</label>
								}
								else if (item.Status == 1)
								{
									 <label class="btn btn-primary">Xác Nhận</label>
								}
								else if (item.Status == 2)
								{
									 <label class="btn btn-primary">Đang giao</label>
								}
								else
								{
									 <label class="btn btn-success">Hoàn thành</label>
								}
							</td>
							<td>
								<a class="btn btn-primary" style="font-size:10px;" href="@Url.Action("Details", new { id=item.ID })"><i class="fa fa-fw  fa-pencil"></i></a>

							</td>
						</tr>
					}
				</tbody>
			</table>
			</div>
		</div>
