@model List<Model.CartItem>
@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double? TotalMoney = 0;
}
@section footer{
    <script src="~/Asset/FrontEnd/js/CartJs.js"></script>
}
<div class="space-custom"></div>
<!-- breadcrumb start -->
<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Trang Chủ</a></li>
            <li class="active">Giỏ Hàng</li>
        </ol>
    </div>
</div>
<!-- breadcrumb end -->
<!-- cart-main-area start -->
@if (Model.Count > 0)
{
    <div class="cart-main-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <form id="form-cart" action="#">
                        <div class="table-content table-responsive">

                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Hình ảnh</th>
                                        <th class="product-name">Sản Phẩm</th>
                                        <th class="product-price">giá</th>
                                        <th class="product-quantity">Số Lượng</th>
                                        <th class="product-subtotal">Tổng Tiền</th>
                                        <th class="product-remove">Xóa</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        var url = "/chi-tiet-san-pham/" + item.Product.Slug + "-" + item.Product.Id;
                                        var price = (item.Product.Price > item.Product.Sale_Price) ? item.Product.Sale_Price : item.Product.Price;
                                        <input hidden="" name="productId" value="@item.Product.Id" />
                                        var total = (price * item.Quantity);
                                        TotalMoney += total;
                                        <tr>
                                            <td class="product-thumbnail"><a href="@url"><img width="100px" height="100px" src="@item.Product.Images" alt="" /></a></td>
                                            <td class="product-name"><span style="font-size:15px">@item.Product.Name</span></td>
                                            <td class="product-price"><span class="amount">@Convert.ToDecimal(price).ToString("#,##0")VND</span></td>
                                            <td class="product-quantity"><input style="width: 150px" name="quantity" price="@price" productId="@item.Product.Id" class="quantity" min="1" data-id="@item.Product.Id" type="number" id="CartId" value="@item.Quantity" /></td>
                                            <td class="product-subtotal" id="total_@item.Product.Id">@Convert.ToDecimal(total).ToString("#,##0")VND</td>
                                            <td class="product-remove"><a data-id="@item.Product.Id" class="btn-delete1" href="#"><i class="fa fa-times"></i></a></td>
                                        </tr>
                                    }


                                </tbody>

                            </table>

                        </div>
                        <div class="row">
                            <div class="col-md-8 col-sm-7 col-xs-12">
                                <div class="buttons-cart">
                                    <a id="btnContinue" href="#">Tiếp Tục Mua Hàng</a>
                                    <a id="btnUpdate" >Cập Nhập Giỏ Hàng</a>
                                    <a id="btnDelete" >Xóa giỏ hàng</a>
                                   
                                </div>

                            </div>
                            <div class="col-md-4 col-sm-5 col-xs-12">
                                <div class="cart_totals">

                                    <table>
                                        <tbody>

                                            <tr class="order-total">
                                                <th>Tổng Tiền</th>
                                                <td>
                                                    <strong><span class="amount">@Convert.ToDecimal(TotalMoney).ToString("#,##0") VND</span></strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="wc-proceed-to-checkout">
                                        @Html.ActionLink("Thanh Toán", "Index", "Order")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
}
else
{
<div class="cart-main-area">
    <div class="container">
        <p style="text-align:center" class="alert alert-info">Giỏ Hàng Chưa Có Sản Phẩm Mời Bạn Mua Hàng Để Tiếp Tục!!</p>
        <a href="/" class="btn btn-success">Về Trang Chủ</a>
    </div>
</div>
      
        }

        <!-- cart-main-area end -->
        <!-- service-area start -->

